<div class="container">
<div class="page-header">
<h3 class="text-center">LOGIN</h3>
</div>

  <div class="row col-xs-12" name="user-login"  id="user-login">
    <div class="row col-xs-12" name="user-login"  id="user-login">
      <form name="user-login-frm" id="user-login-frm">
        <div class="form-group" >
          <div class="input-group">
            <input class="form-control input-lg" type="text" name="ame" value="" ng-model="login" placeholder="Email or Mobile" required/>
          </div>
        </div>
        <div class="form-group" >
          <div class="input-group">
            <input class="form-control input-lg" type="text" name="passwd" value="" ng-model="passwd" placeholder="Password" required/>
          </div>
        </div>
          <div class="row">
            <button type="button" class="btn btn-primary btn-block" ng-click="login()">Login</button>
          </div>
      </div>
      </form>
    </div>
  <!-- container -->
  </div>
