<div class="container">
<div class="row">
    <div style="margin-top: 120px; margin-bottom: 30px;" class="col-xs-12">
        <img class="img-responsive" src="img/ac_logo.png" style="margin-left: auto; margin-right: auto;"/>
    </div>
</div>

<div class="page-header">
  <h3 class="text-center">LABWISE HEALTH CLOUD</h3>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="row">
        <div class="col-xs-12">
          <a href="#/register" class="btn btn-primary btn-lg btn-block" type="submit" role="button">REGISTER</a>
        </div>
      </div>
    <br></br>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="row">
        <div class="col-xs-12">
            <a href="#/login" class="btn btn-primary btn-lg btn-block" type="submit" role="button">LOGIN</a>
        </div>
      </div>
    <br><br>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="row">
        <div class="col-xs-12">
          <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="openSite()">DIRECT WEB</button>
        </div>
      </div>
    <br><br>
  </div>
</div>


</div>
