<div class="container">
  <div class="row">
      <div style="margin-top: 100px; margin-bottom: 30px;" class="col-xs-12">
          <img class="img-responsive" src="img/ac_logo.png" style="margin-left: auto; margin-right: auto;"/>
      </div>
  </div>
  <div class="page-header">
    <h3 class="text-center">WELCOME TO LABWISE HEALTH CLOUD</h3>
    <h4 class="text-center"> Thanks for signing uo with us..</h4>
  </div>
  <div>
    <div class="row">
        <div class="col-xs-12">
          <button type="button" class="btn btn-primary btn-lg btn-block" data-ng-click="proceed()">PROCEED TO MAIN SITE</button>
        </div>
      </div>
    <br></br>
</div>
